    location /ogc-geoserver {
        proxy_pass http://ogc-geoserver:8080/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $real_scheme;
        proxy_set_header  Accept-Encoding "";
        gzip_proxied any;
        gzip on;
        gzip_comp_level 1;
        gzip_types application/json text/plain application/xml text/html;
    }
