[server]
outputurl = https://${PAVICS_FQDN_PUBLIC}/wpsoutputs
outputpath = /data/wpsoutputs

# Used as "finchasync" because unable to mix and match sync and async request
# in same bird, issue https://github.com/bird-house/finch/issues/121.
# Previously discussed with Travis, default 2 is too low for async usage.
parallelprocesses = 4

[logging]
level = INFO
database=postgresql://${POSTGRES_PAVICS_USERNAME}:${POSTGRES_PAVICS_PASSWORD}@postgres_generic_bird/generic_bird

${EXTRA_PYWPS_CONFIG}
